a {
    cursor: pointer;
    text-decoration: none !important;
}
main {
    min-height: calc(100vh - 100px);
    background-color: #f8f9fa;
    padding: 50px 0;
}
footer {
    background-color: #343a40;
    margin: 0;
    color: white;
}
footer p {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}
::selection {
    background-color: var(--select-bg);
}
.home table tbody ul {
    margin: 0;
    display: flex;
    align-items: center;
}
.home table tbody li {
    margin: 0 10px;
}
.home table tbody li:first-child {
    margin-left: 0;
}
.home table tbody li:last-child {
    margin-right: 0;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.msg_wrapper {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 47%;
}
.msg_wrapper p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.messages {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}
.outgoing_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg {
    overflow:hidden;
    margin:26px 0 26px;
}
.outgoing_msg .msg_wrapper {
    width: 47%;
    margin: 0 10px 0 auto;
    display: block;
}
.input_msg_write {
    display: flex;
    padding: 10px;
    align-items: center;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    padding: 0 10px;
    margin-right: 10px;
}
.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    right: 0;
    top: 11px;
    width: 100px;
}
.msg_history {
    height: 516px;
    overflow-y: auto;
}